name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Sync code
        run: |
          set -e
          git config --global --add safe.directory /var/www/gearnow
          cd /var/www/gearnow
          git fetch --all
          git reset --hard origin/main
          git clean -fd

      - name: Install deps
        run: |
          npm install 

      - name: Build
        run: |
          npm run build
